* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    color: #fff;
    display: flex;
    width: 100%;
    background: #11101D;
    height: 4rem;
    text-align: center;
    position: fixed;
}

.menu {
    top: 4rem;
    width: 100%;
    background-color: rgba(209, 213, 219, 1);
    color: #fff;
    background: #13391D;
    height: 3rem;
    position: fixed;
    text-align: center;
}

.sidebar {
    color: seashell;
    position: fixed;
    left: 0;
    bottom: 3rem;
    top: 7rem;
    height: 100%-7rem;
    width: 10%;
    background: #169741d7;
}

.content {
    top: 7rem;
    left: 10%;
    width: 90%;
    bottom: 3rem;
    height: 100%-7rem;
    background-color: rgba(209, 213, 219, 1);
    text-align: center;
    position: absolute;
}

.footer {
    color: #fff;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background: #11101D;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.AMais {
    background-color: darkgreen;
}

.outro {
    background-color: darkslateblue;
}