

.header {
    /* color: #fff;
    display: flex;
    width: 100%;
    background: #11101D;
    height: 4rem;
    text-align: center;
    position: fixed; */
}

/* .sidebar {
    color: seashell;
    position: fixed;
    left: 0;
    bottom: 3rem;
    top: 7rem;
    height: 100%-7rem;
    width: 10%;
    background: #169741d7;
} */


